*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    border: 2px solid rgb(95, 95, 95,0.1);
   height: 4rem;
   align-items: center;
   
}

.header h2{
    color:  rgb(0, 86, 210);
}
.login{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
  

}

.login a{
  text-decoration: none;
  color: black;

}

.login a:hover{
 border-bottom: 2px solid rgb(0, 86, 210);
   
    color:  rgb(0, 86, 210);
}
.container{
    display: flex;
  
    height: 75vh;

}
.image img{
    height: 100%;
}
.image{
    
    padding-left: 10%;
    width: 50%;
  height: 75vh;


}
.mini-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;

    width: 50%;
    height: 100%;
   
    padding-left: 12rem;
    /* padding-bottom: 18rem; */
}
.mini-cont h1{
    font-size: 80px;
    letter-spacing: -0.2px;
    
}
.mini-cont p{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.mini-cont a{
    text-decoration: none;
    color: white;
    background: rgb(0, 86, 210);
    width: 30%;
    height: 10%;
    /* background: rgb(0, 86, 210); */
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
border-radius: 10px;
    padding: 12px 32px;
    text-align: center;
margin-top: 1.5rem;
  margin-right: 70%;
  transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;
}
.mini-cont a:hover{

    background: rgb(8, 53, 116);
}
.quotes{
 
    height: 25vh;
    text-align: center;
    background-color: rgb(245, 245, 245);
    align-items: center;
    padding-top: 10px;
}
.quote{
    margin-top: 10px;
    font-size: 1.8rem;
 
}
.author{
   margin-top: 4px;
   margin-left: 20%;
   font-size: 1.5rem;
   color:  rgb(0, 86, 210);
}
.box{
    display: flex;
    overflow-x:hidden;
         width: 65%;
        height:60vh;
    scroll-behavior: smooth;
    overflow-y: hidden;
    
}
.box img{
    height: 100%;
    margin: 1rem;

}
.container2{
    
    display: flex;
    
}
.container2 a button{
 /* width: 100%;
 height:100%; */
 height: 40px;
 width: 40px;
 border-radius: 50%;
 font-size: 22px;
 
 margin: auto;
 border: none;
 background: white;
 cursor: pointer;
 
 background: #A6A6A6;
 color: white;
    
}


.container2 {
    display: flex;
    justify-content: space-evenly;
}
.arrow{
    
    display: flex;
    align-items: center;
}

.left{
    opacity:0;
}